{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "tsx": false,
      "decorators": true
    },
    "target": "es2016",
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "es6",
    // These are defaults.
    "strict": true,
    "strictMode": true,
    "lazy": true,
    "noInterop": true
  },
  "isModule": true,
  "minify": false
}
